RewriteEngine On

RewriteRule js/(.*) js/$1 [L]
RewriteRule img/(.*) img/$1 [L]
RewriteRule glsl/(.*) glsl/$1 [L]
RewriteRule style/(.*) style/$1 [L]

RewriteRule config.json config.json [L]

RewriteRule ^([^\/]+)\/? index.html [L]
